@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header, .header{
    background-color: black;
    position: relative;
    bottom:10px;
    width:100%;
    border-bottom:solid #92ff00 .1em;
}
header, .logo, .header
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.header
{
    padding: .5em;
    display:inline-block;
}
.background
{
    background-image: url(./logo-clear.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.background2
{
    background-image: url(./logo-clear.png);
    background-position: center;
    background-repeat: repeat;
    background-size:120em;
    background-position-x: -191em;
    background-position-y:center;
    overflow: hidden;
}
body {
  background: #F8F8F8;
  border:solid black 1em;
}
.container {
    margin: 1em;
    border:solid .1em #92ff00;
    box-shadow: 1px 1px 8px rgb(75, 75, 75),
    2px 2px 8px rgb(75, 75, 75),
    3px 3px 8px rgb(75, 75, 75),
    4px 4px 8px rgb(75, 75, 75),
    5px 5px 8px rgb(75, 75, 75),
    6px 6px 8px rgb(75, 75, 75);
}
.border 
{
 border: #111 solid .1em;
 margin:.1em;
}
.button 
{   
    display: inline-block;
    font-size: 1em;
    background:#92ff00;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}
.button:hover
{
    letter-spacing: 6px;
}
.logo {
 color:#F8F8F8F8;
}
.center {
    text-align: center;
}
.texth2
{
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase; 
}
.texth3
{
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
ol  
{
    text-align: justify;
    margin: 0 auto;
    width: 17em;
    font-size: 1.2em;
    list-style: none;
    
}
.table-mark
{ 
    text-decoration:underline black;
    font-size: 2em;
    text-shadow: 2px 2px 8px rgb(75, 75, 75)
}
ol a {
    text-decoration: overline #92ff00 .2em;
    text-shadow: 2px 2px 8px rgb(75, 75, 75)
}
ol a:hover
{
    color:#03a9f4; 
    text-decoration: overline .2em #03a9f4;
}
small
{
    text-decoration: none !important;
}
p, .small
{
    margin: 1em;
}


/* ============================================================
	Responsive Table via Data Label
============================================================ */
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
     .texth2
     {
         font-size: 3em;
     }
     .texth3
     {
         font-size: 2em;
         margin-bottom: .1em;
     }
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	.background2 {
        background-size: 71em;
    }
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Service"; }
	td:nth-of-type(2):before { content: "Description"; }
	td:nth-of-type(3):before { content: "Cost"; }
}