@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.black
{
  color: #111;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header, .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background-image:url(./logo-clear.png);
  background-size: cover;
  background-position: center;
  mix-blend-mode: overlay;
}
.profile
{
  border-radius: 50%;
  border: #92ff00 solid .1em;
}
.contact-overlay
{
  background-image: none!important;
}
.text
{
  position: relative;
  z-index: 2;
  margin-top: auto;
}
dl 
{
  color:#fff;
  max-width: 700px;
}
h4 
{
  font-size: 2em;
}
dt, h4, small, .green
{
  color:#92ff00;
}
.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p, .white
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background:#92ff00;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 2;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 50px;
  filter: invert(1);
  transform: scale(1.9);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(1.9) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  background-image: url(./logo-clear\(1\).png);
  background-size: 50em;
  background-position-x:4em;
  background-position-y:10em ;
}
.menu ul
{
  position: relative;
}
.menu ul li, ul
{
  list-style: none !important;
}

.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: black;
  text-decoration: overline #92ff00 .2em;
  text-shadow: 2px 2px 8px rgb(75, 75, 75)
}
.menu ul li a:hover
{
  color: #03a9f4; 
  text-decoration: overline #03a9f4 .2em;
}
/*Animated share button*/
.animated_share {
  position: relative;
  display: inline-block;
}
.animated_share_btn {
  cursor: pointer;
  position: relative;
}
.animated_share_btn a {
  display: inline-block;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #92ff00;
  letter-spacing: 2px;
  transition: 0.2s;
}
.animated_share_btn a:hover
{
color: #03a9f4;
}
.animated_share_btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background: #92ff00;
  transition: 0.5s ease-in-out;
}
.animated_share_btn:after {
  content: "Share";
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #92ff00;
  width: 90%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.animated_share_btn:hover:before,
.animated_share_btn:hover:after {
  left: -100%;
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }

  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
@media (max-height: 465px)
{
  * 
  {
    font-size: .93em;
    
  }
  .profile
  {
    width: 5%;
  }
}
@media (max-height: 495px)
{
  * 
  {
    font-size: .93em;
  }
}
@media (max-height: 475px)
{
  * 
  {
    font-size: .9em;
  }
}
@media (max-height: 400px)
{
  * 
  {
    font-size: .8em;
  }
  .profile
  {
    width: 5%;
  }
}
@media (max-height: 350px)
{
  * 
  {
    font-size: .85em;
  }
}
@media (max-height: 320px)
{
  * 
  {
    font-size: .7em;
  }
  .profile
  {
    width:5%;
  }
}
@media (max-height: 280px)
{
  * 
  {
    font-size: .4em;
  }
  .profile
  {
    width: 5%;
  }
}
@media (max-width: 720px)
{
  .logo
  {
    font-size: .8em;
  }
  .text h2 
  {
    font-size: 2em;
  }
  .text h3 
  {
    font-size: 1.5em;;
  }
}
@media (max-width: 380) {
  * {
    font-size: .83;
  }
}
